.movieContainer{
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movieCount{
    font-style: italic;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    font-size: 25px;
    text-decoration: underline;
}