@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.form{
    max-width: 400px;
    margin: 0px auto 30px auto;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.form input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(221, 205, 205, 0.698);
    padding-left: 10px;
    color: white;
    
}

.buttons{
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 100px 1fr 80px; 
   
}
.searchBy{
    text-align: left;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}
.buttonSearch{
   max-width: 80px;
   margin-left: 60px;
}

.buttons button{
    width: 70px;
    max-height: 40px;
    color:white;
    border-radius: 7px;
    background-color: rgba(165, 35, 35, 0.76);
    margin: 5px 7px 5px 0px;
}

.addBorder{
    border: 2px solid white
}

.active{
    border: 3px solid rgb(207, 114, 114);
}